/*NAVBAR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #154f43;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    position: relative;
    align-items: center;
}
nav .nav-title {
    color: #c6e3f7;
    font-size: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
}
nav .nav-links {
    display: flex;
    list-style: none;
    margin: 0 15px 0 0;
}
nav .nav-links li a {
    display: block;
    text-decoration: none;
    color: #fffff2;
    font-size: 16px;
    padding: 1rem;
}
nav .nav-links li:hover {
    background-color: #c6e3f8;
    border-radius: 5px;
    transition: 0.5s ease;
}
